html, body {
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

code{
  background-color:#f7f7f7;;
  border-radius:5px;
  padding:15px;
  margin:10px;
  display:block;
  text-align:left;
  white-space:pre-line;
  position:relative;
  word-break:normal;
  word-wrap:normal;
  line-height:2;
  font-family:monospace;
  margin-left: -20px;
  width: 100%;
  padding-left: 10px;
  padding-right: 45px;
  min-width:233px;

}

#navbar{
  position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
    overflow-x:hidden;
    overflow-y:auto;
}
#main-doc{
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

#navbar header{
  margin-top:10px;
  text-align:center;
  font-size:1.5em
}

#navbar ul li{
  
  list-style:none;
  border-top:1px solid black;
  max-width:500px;
  margin-left:-50px

}

#navbar ul li a{
  display:block;
  text-decoration:none;
  font-size:1em;
  padding:10px 30px;
  color:grey;
  /* text-align:left; */
  
}

#navbar ul li a:hover{
  color:black;
}
#navbar ul li a:active{
  color:black;
}
#navbar ul li a:link{
  color:black;
}
#navbar ul li a:visited{
  color:black;
}


#main-doc header {
    text-align: left;
    margin: 0px;
}

header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}

/* Styles for screens smaller than 600px */
@media (max-width: 600px) {
  html, body {
    background-color: lightblue;
  }
}

/* Styles for screens between 600px and 900px */
@media (min-width: 601px) and (max-width: 900px) {
  html, body {
    background-color: lightgreen;
  }
}

/* Styles for screens larger than 900px */
@media (min-width: 901px) {
  html, body {
    background-color: lightpink;
  }
}
